html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  border-color: #595652;
  border-width: 3px;
  margin: 0;
  display: block;
}

h1 {
  color: #fff;
  font-family: "Bevan", sans-serif;
}

li a {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  display: inline;
}

nav li {

}
